@model EQ.Models.Ticket


<div class="responsiveFullPageDiv" style="text-align: center; font-size:150%;">
    <div>
        <h4>Ticket for @Html.DisplayFor(model => model.Service.Name)</h4>
        <hr />
        εκτιμόμενος χρόνος εξυπηρέτησης : @ViewBag.ETA
        λεπτά
        <br />
        @Html.DisplayNameFor(model => model.TicketNumber) 
        :
        @Html.DisplayFor(model => model.TicketNumber)
        <br/>
    </div>
    <p>
        @Html.ActionLink("OK", "Index",null, new { @class = "btn btn-default btn-lg", style = "text-align:center; line-height:1.7; vertical-align:middle; font-size: 20px; margin-top:5%; background-color:lightblue;" })


    </p>
</div>