@model EQ.Models.Ticket


<div class="responsiveFullPageDiv" style="text-align: center; font-size:150%;">
    <div>
        <h4>Ticket for @Html.DisplayFor(model => model.Service.Name)</h4>
        <hr />
        εκτιμομενος χρονοσ εξυπηρετησης : @ViewBag.ETA
        λεπτά
        <br />
        @Html.DisplayNameFor(model => model.TicketNumber) 
        :
        @Html.DisplayFor(model => model.TicketNumber)
        <br/>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TicketId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>