@model IEnumerable<EQ.Models.Ticket>

<div class="responsiveFullPageDiv">
    <h2>My Tickets</h2>

    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State.StateName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.StateName)
                </td>
                <td>
                    <button type="button" class="btn btn-default">
                        @Html.ActionLink("Θέαση", "Details", null, new { @style = " text-decoration:none;" }, new { id = item.TicketId })
                    </button>
                </td>
            </tr>
        }

    </table>
    <p style="float:right;">
        <button type="button" class="btn btn-default">
            @Html.ActionLink("Καινούργιο νούμερο", "Create",null, new { @style = " text-decoration:none;" })
        </button>
    </p>
</div>