@model EQ.Models.Service
@{
    ViewBag.Title = "Current";
}

<h2>Current</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastTicket)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ServiceId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>